{
  "extends": ["react-app", "import"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "error",
    "no-console": "error",
    "no-underscore-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "useTabs": true,
        "trailingComma": "all"
      }
    ]
  }
}
